.UPSContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .imageDiv{
          
     
        img{
            width: 200px;
            height: 100%;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 50%;
        }
    }
    h2{
        font-size: 35px;
        font-weight: 400;
    }
    .userDetails{
       
        .lightingText{
            color: aliceblue;
            background-color: gray;
            padding: 11px;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width:800px) {
    .UPSContainer{
    
        h2{
            font-weight: 400;
            font-size: 25px;
        }
        .userDetails{
           
            .lightingText{
                word-break: break-all;
                padding: 0px;
                height: auto;
                min-height: 30px;
                
            }
        }
    }
    
}